@value makerGrey, makerDarkGreen from '../../common/colors.css';
@value mediumFont from '../../common/size.css';

.form {
  width: 95%;
  border-top: 0.2rem solid makerDarkGreen;
  background-color: transparent;
}

.input {
  width: 100%;
  padding: 0.4em 0.2em;
  border: none;
  outline: none;
  color: makerDarkGreen;
  font-size: mediumFont;
  background-color: transparent;
}
.input::placeholder {
  color: makerGrey;
}
