@value makerDarkGreen from '../../common/colors.css';

.task {
  display: flex;
  justify-content: space-between;
  margin: 0.3em 0;
}

.name {
  overflow: scroll;
}

.deleteBtn {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: makerDarkGreen;
}
