@value makerWhite, makerDarkGreen from '../../common/colors.css';
@value mediumFont, largeFont from '../../common/size.css';

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 80%;
  margin: 2em auto;
  border: 0.4rem solid makerDarkGreen;
  border-radius: 2em;
}

.title {
  color: makerDarkGreen;
  position: relative;
  margin: 0;
  top: calc(largeFont/-2);
  height: largeFont;
  line-height: largeFont;
  font-size: largeFont;
  border-left: 0.5em solid makerWhite;
  border-right: 0.5em solid makerWhite;
  background-color: makerWhite;
}

.lists {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding: 0 2em;
  margin: 0;
  font-size: mediumFont;
  font-weight: 600;
  color: makerDarkGreen;
  overflow: scroll;
}
