@value makerTomato, makerWhite from '../../common/colors.css';
@value mediumFont from '../../common/size.css';

.header {
  background-color: makerTomato;
  text-align: right;
}

.logInOut,
.insights,
.settings {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: mediumFont;
  color: makerWhite;
  padding: 0.1em;
  margin: 0.2em;
  cursor: pointer;
}
