@value makerLightGrey, makerGrey from '../../common/colors.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  font-size: 1.5rem;
  font-weight: bold;
  color: makerLightGrey;
}

.sessionName {
  text-transform: uppercase;
  margin-bottom: 0.3em;
}

.controller {
  display: flex;
  font-family: monospace;
}

.btn {
  border: none;
  border-radius: 50%;
  margin: 0 0.2em;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  color: makerLightGrey;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.controller:hover .btn {
  opacity: 1;
}

.btn:hover {
  transform: scale(1.2);
}

.btn:active {
  color: makerGrey;
}
