@value makerNightRider from './common/colors.css';
@value mediaQuery from './common/size.css';

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-width: 500px;
  max-width: 1000px;
  height: 100vh;
  background-color: makerNightRider;
  display: flex;
  flex-direction: column;
}

.timmerContainer {
  height: 50%;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.todoContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-height: mediaQuery) {
  .app {
    flex-direction: row;
    align-items: center;
    width: 100vw;
  }
  .timmerContainer {
    height: 80%;
  }
  .todoContainer {
    height: 100%;
    width: 100%;
  }
}
