@value makerWhite, makerDarkGreen from '../../common/colors.css';
@value timmerFont from '../../common/size.css';

.timmer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: makerWhite;
  margin-bottom: 4em;
}

.startBtn {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 2em;
  position: relative;
}

.logo {
  width: 50%;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

/* .startBtn::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20%;
  width: 60%;
  padding-top: 60%;
  cursor: none;
  border-radius: 50%;
  border-top: 5px solid #ff5040;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */

.logo:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  border-radius: 1em;
  background-color: makerDarkGreen;
}
.timeText {
  text-align: center;
  margin: 0.5em;
  font-family: monospace;
  flex-grow: 1;
  font-size: timmerFont;
  color: makerWhite;
  font-weight: 600;
}
.reset {
  border: none;
  outline: none;
  background-color: transparent;
  color: makerWhite;
  padding: 0.1em;
  margin: 0 0.2em;
  cursor: pointer;
  font-size: timmerFont;
  font-weight: 600;
}
